<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=_json.名称%> - <%=_variable.设置.名称%></title>
</head>

<frameset rows="36,4,50" cols="*" frameborder="no" border="0" framespacing="0">
	<frame src="/Tpl/<%=_m%>/<%=_n%>.xhtml?a=1&_ms_main=no"  noresize="noresize" id="topFrame" />
	<frame src="/Tpl/admin/master_slave_middle.xhtml?_m=<%=_m%>&_n=<%=_n%>" id="ms_middleFrame" scrolling="no" noresize="noresize" />
	<frame src="UntitledFrame-9" name="ms_bottomFrame" id="ms_bottomFrame" noresize="noresize" />
</frameset>
<noframes>

<body style="padding:0">

</body>
</noframes>




</html>